.main{
    width: 400px;
    height: 100px;
    border: 1px red solid ;
    margin-left: 20%;
    padding-left: 30%;
    margin-bottom: 30%;
     }
 .first{
     background-color: seagreen;
     margin-top: 30%;
     padding-left: 30%;
     
 }   