*{
    margin: 0%;
    padding: 0%;
    background-color: #e4e4e4;
}
.fb{
    margin-top: 200px;
    margin-left: 180px;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 102, 255);
    font-size: 55px;
    
}
h2{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    width: 500px;
    line-height: 33px;
    
}
.content{
    width: 390px;
    height: 350px;
    background-color: rgb(255, 255, 255, 0.979);
    float: right;
    text-align: center;
    margin-top: -200px;
    margin-right: 210px;
    border-radius: 2%;
}
.form{
    float: right;
    margin-top: 20px;
    background-color: white;
    width: 100%; 

}
.box{
    width: 355px;
    height: 48px;
    border-radius: 6px;
    background-color: white;
    font: 1em sans-serif;
    margin-top: -5px;
    border:1px solid rgb(216, 216, 216);
  
    
}
.box:focus{
    outline: none !important;
    border-color: #1877f2; 
}
.box1{
    width: 355px;
    height: 48px;
    border-radius: 6px;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    border:1px solid white;

}
.box1:hover{
    outline: none !important;
    background-color: #024aa8;
}
.psw{
    color: rgb(0, 102, 255);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    
    }
.psw:hover{
    text-decoration: underline;
}  
.dot{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(218, 221, 225);
    display: flex;
    margin: 20px 16px;
    margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 20px;
    margin-left: 16px;
    text-align: center;
}  
 
.new{
    width: 200px;
    padding: 15px;
    border-radius: 6px;
    background-color: #299619;
    color: white;
    font-size: 15px;
    font: 1em sans-serif;
    border: 1px solid #299619;
    margin-top:-10px;
    
}
.new:hover{
    outline: none !important;
    background-color: #147206;
}
.foot{
    /* float: left; */
    margin-top: 190px;
    margin-left: 560px;
    font-size: 14px;
    text-align: center;
    
}
h3{
    font-weight: normal;
    font: 1em sans-serif;
}