.top{
    
    background-color: rgb(102, 4, 158);
}
p{
    color: white;
}
.p1{
    padding-left: 90px;
    padding-top: 9px;
    font-size: 13px;
}
.p2{
    position: absolute;
    right: 100px;
    top: 9px;
    font-size: 14px;
}
